body {
  margin: 0px 0px 10px 0px;
  padding:0px 0px 10px 0px;
  font: 18px "Meiryo", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.head {
  width :100%;
  text-align: center;
  background-color: blueviolet;
  color: #FFF;
  padding:5px 0px 5px 0px;
}

.title{
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0px 10px 0px;
}

.description{
  font-size: 16px;
  margin: 0px 0px 10px 0px;
}
.main {
  padding: 0px 0px 10px 0px;
  width :70%;
  min-width: 600px;
  margin:auto;
  text-align: center;
  background-color: #FFF;
}

.relay {
  margin:auto;
  width: 70%;
  min-width: 600px;
}

.relayborder{
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  margin-bottom: 0px;
}

.resultcolor{
  background-color: #fff462;
}

.logborder{
  border-style: solid;
  border-width: 2px;
  border-color: #CCC;
}

.callapiborder{
  width:450px;
  border-style: solid;
  border-width: 2px;
  border-color: #BF9DE0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.callresultdetail{
  font-size: 12px;
  width:450px;
}

.processenvarea{
  border-style: solid;
  border-width: 2px;
  border-color: #CCCCCC;
  margin-top: 5px;
  margin-bottom: 5px;
  width:450px;
}

.serchkeywordinputarea{
  margin-top: 5px;
  text-align: center;
}
.serchkeywordinput{
  width:300px;
}

.prefield{
  width:450px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.relaytitle{
  width:100%;
  display: table;
  text-align: center;
}

.idtitle{
  display: table-cell;
  text-align: left;
}

.deletebuttonarea{
  display: table-cell;
  text-align: right;
}
.deletebutton{
  color:#FFF;
  background-color:CCC;
  border: none;  /* 枠線を消す */
  font-size: 24px;
  width:30px;
  margin: 2px;
}
.relaysetting{
  text-align: left;
  margin:0px auto 0px auto;
}

.urltitle{
  width:80px
}

.urlinput{
  width:300px;
}

.numberinput{
  width:70px;
}

.addcallbutton{
  color:#FFF;
  background-color:blueviolet;
  border: none;  /* 枠線を消す */
  font-size: 16px;
}

.addcallbutton:active{
  background-color: violet;
}

.addlogbutton{
  color:#FFF;
  background-color:#000;
  border: none;  /* 枠線を消す */
  font-size: 16px;
}

.addlogbutton:active{
  background-color: violet;
}

.startbuttonarea{
  text-align: right;
  margin:auto;
  width: 70%;
  min-width: 600px;
  margin-bottom: 10px;
}

.startbutton{
  color:#FFF;
  background-color:blueviolet;
  border: none;  /* 枠線を消す */
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  width:250px;
  margin-bottom: 5px;
}

.startbutton:active{
  background-color: violet;
}

.exportimportbutton{
  color:#FFF;
  background-color:blueviolet;
  border: none;  /* 枠線を消す */
  font-size: 16px;
  width:80px;
  margin-left:5px;
  margin-bottom: 5px;
  border-radius:0px;
}

.exportimportbutton:active{
  background-color: violet;
}

.addbutton{
  color:#FFF;
  background-color:blueviolet;
  border: none;  /* 枠線を消す */
  font-size: 24px;
  width:150px;
  padding: 5px;
}

.addbutton:active{
  background-color: violet;
}

.arrow{
  margin:auto;
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-color:  transparent transparent mediumpurple mediumpurple;
  transform: rotate(-45deg);
  margin-bottom: 15px;
}

.paramtitle{
  font-size: 16px;
}
.paramfield{
  width:100px;
  text-align: right;
}

.result{
  text-align: center;
}

.callresult{
  text-align: center;
  margin-bottom:2px;
}

.callresultarea{
  text-align:left;
}
.error{
  color:#F00;
}

.chartarea{
  width:70%;
  min-width:600px;
  margin:auto;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #FFF;
  font-size: 3px;
  text-indent: -99999em;
  margin: auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background:blueviolet;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: blueviolet;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
