<html>

<head>
  <title>choi</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
</head>

<body>
  <div class="head">
    <div class="title">choi</div>
    <div class="description">Emulate your App to relay a http(s) request to evaluate your infrastracture</div>
  </div>
  <!-- Vue html -->
  <div class= "main" id="app">
    <!-- Export Import button-->
    <div class="startbuttonarea">
      <input type="file" ref="file" style="display:none" accept="json" v-on:change="importSetting()"/>
      <div><button class="exportimportbutton" v-on:click="exportSetting">export</button><button class="exportimportbutton" v-on:click="$refs.file.click()">import</button></div>
    </div>

    <!-- Send Request button and params -->
    <div class="startbuttonarea">
      <span v-if="totalTime" class="resultcolor">{{totalTime}}</span><span>{{statusMessage}}</span>
      <button v-if="processing" class="startbutton"><div class="loader"></div></button>
      <button v-if="!processing" class="startbutton" v-on:click="startChoi">Send Request</button>
      <div class="paramtitle">number of times <input class="paramfield" type="number" v-model="param.num" placeholder="the number of times"/></div>
      <div class="paramtitle">interval (ms)   <input class="paramfield" type="number" v-model="param.interval" placeholder="ex) 100"/></div>
    </div>
    <div v-if="errorMessage" class="error">{{errorMessage}}</div>
    <!-- Http request relay settings -->
    <div class="relay" v-for="(relay,index) in relays">
      <div class="relayborder">
        <div class="relaytitle">
          <p class="idtitle"># STEP {{++index}}</p>
          <span class="deletebuttonarea"><button class="deletebutton" v-on:click="deleteRelay(relay.id)">x</button></span>
        </div>
        <table class="relaysetting">
          <tr><td class="urltitle">choi uri</td><td colspan=5><input class="urlinput" v-model="relay.url" placeholder="ex) http://host:port/path"/></td></td></tr>
          <tr>
            <td>options</td>
            <td><button class="addcallbutton" v-on:click="addCallfiled(relay.id)">+ call API</button>,</td> 
            <td v-if="!relay.timeout">delay:<input class="numberinput" v-model="relay.delay" placeholder="ex) 200"/>(ms),</td>
            <td v-if="!relay.timeout">error:<input name="error" type="checkbox" v-model="relay.error"/><span v-if="!relay.error">,</span></td>
            <td v-if="relay.error">code:<input class="numberinput" name="errorcode" type="number" v-model="relay.code"/></td>
            <td v-if="!relay.error">timeout:<input name="timeout" type="checkbox" v-model="relay.timeout"/></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="4">
              <table class="callapiborder" v-for="i of relay.apicalls" :key="i">
                <tr>
                  <td>Method</td><td colspan=3>
                    <select v-model="relay.apicallmethod[i-1]">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>API url</td><td colspan=3><input class="urlinput" v-model="relay.apicallurls[i-1]" placeholder="ex) http://169.254.169.254/metadata/instance?api-version=2021-01-01"/></td>
                </tr>
                <tr>
                  <td>headers<br>(JSON)</td><td colspan=3><textarea class="urlinput" rows="3" v-model="relay.apicallheaders[i-1]" placeholder='ex) {"Metadata":"True"} *use double-quotation'></textarea></td>
                </tr>
                <tr v-if="relay.apicallmethod[i-1] === 'POST'">
                  <td>body<br>(Text)</td><td colspan=3><textarea class="urlinput" rows="3" v-model="relay.apicallbody[i-1]" placeholder='ex) key=value'></textarea></td>
                </tr>
                <tr>
                  <td class="callresult" v-if="!relay.apicallresults[i-1]" colspan=5>-----</td>
                  <td calss="callresult" v-if="relay.apicallresults[i-1]" colspan=5>
                    <details class="callresultarea">
                      <summary class="resultcolor">code:{{relay.apicallstatuses[i-1]}}, elapsed time:{{relay.apicalltimes[i-1]}}(ms)</summary>
                      <div class="callresultdetail"><pre class="prefield">{{JSON.stringify(relay.apicallresults[i-1],null,"\t")}}</pre></div>
                    </details>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div v-if="!relay.resultcode" class="result">-----</div>
        <div v-if="relay.resultcode" class="result resultcolor">code:{{relay.resultcode}}, elapesd time:{{relay.resulttime}}(ms)</div>
      </div>
      <div class="arrow"></div>
    </div>
    <!-- Add http request setting -->
    <button class="addbutton" v-on:click="addRelay">+ Add</button>
  </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      id: 3, //initial settings use 1,2
      options:[{text:"GET",value:"GET"},{text:"POST",value:"POST"}],
      relays:[
        {id: 1, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltime:[], apicallresults:[]},
        {id: 2, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltime:[], apicallresults:[]},
      ],
      param:{num:1,interval:1000},
      totalTime:"",
      statusMessage:"",
      errorMessage:"",
      processing:false, // to show loading
    },
    methods:{
      // Add relay setting
      addRelay: function(){
        this.relays.push({id: this.id, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltime:[], apicallresults:[]})
        this.id++;
      },
      // Send request
      startChoi: function(){

        //validation
        var urlEmpties = this.relays.filter(relay=> relay.url == "")
        if(urlEmpties.length > 0){
          this.errorMessage = "Enter URI"
          return
        }

        this.processing=true;
        let count=0;
        let loadedCount=0;
        this.totalTime = "";
        this.statusMessage = "";
        this.errorMessage = "";
        const startTime=0;
        let interval = this.param.interval
        if(this.param.num === 1){
          interval = 0
        }

        //post request with interval
        const intervalId = setInterval(function(){
          this.relays.filter((relay)=>{
            relay.resultcode = "";
            relay.resulttime = "";
            relay.apicallresults = [];
            relay.apicallstatuses= [];
            relay.apicalltimes= [];
          })
          this.startTime = Date.now()
          let first = this.relays[0]

          fetch(first.url,{
            method:'POST',
            headers:{
              'Content-Type':'application/json',
            },
            body:JSON.stringify(this.relays)
          })
          .then(response => response.json())
          .then(data=>{
            this.totalTime = "Totaltime " + (Date.now()-this.startTime) +"(ms), "
            this.statusMessage = "Succuess "+count+"/"+ this.param.num
            // Show the result for each setting
            for(i in data){
              let result = data[i]
              for(j in this.relays){
                if(result.id === this.relays[j].id){
                  this.relays[j].resultcode = result.code
                  this.relays[j].resulttime = result.elapsed
                  this.relays[j].apicallresults = result.callresults
                  this.relays[j].apicallstatuses= result.callstatuses
                  this.relays[j].apicalltimes= result.calltimes
                  if(result.error){
                    var next = Number(j)+1;
                    this.relays[next].result = result.error
                    this.errorMessage = "STEP ERROR"
                    console.log(result.error)
                  }
                }
              }
            }
            loadedCount++;
            console.log(loadedCount,this.param.num)
            if(loadedCount === Number(this.param.num)){
              this.processing = false;
            }
          })
          .catch((error)=>{
            this.errorMessage = error
            this.processing=false;
          });

          count++;
          if(count >= this.param.num){
            clearInterval(intervalId)
          }
        }.bind(this),interval)
      },
      // Delete a relay setting
      deleteRelay: function(deleteid){
        this.relays = this.relays.filter(relay=> relay.id != deleteid)
      },
      addCallfiled:function(parentId){
        for(let i in this.relays){
          if(parentId===this.relays[i].id){
            this.relays[i].apicalls += 1;
            this.relays[i].apicallmethod.push("GET")
            break;
          }
        }
      },
      exportSetting:function(){
        let blob = new Blob([JSON.stringify(this.relays)],{type:'application/json'})
        let link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = 'test.json'
        link.click()
      },
      importSetting:function(){
        const file = this.$refs.file.files[0]
        if(file){
          const reader = new FileReader();
          reader.onload = e =>{
            this.relays = JSON.parse(e.target.result)
            this.id = this.relays.length + 1
            this.totalTime = ""
            this.statusMessage = "Setting imported"
            this.errorMessage = ""
          }
          reader.readAsText(file)
        }
      }
    }
  });
</script>
</html>
