<html>

<head>
  <title>choi</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>

<body>
  <div class="head">
    <div class="title">choi</div>
    <div class="description">Emulate your App to relay a http(s) request to evaluate your infrastracture</div>
  </div>
  <!-- Vue html -->
  <div class= "main" id="app">
    <!-- Export Import button-->
    <div class="startbuttonarea">
      <input type="file" ref="file" style="display:none" accept="json" v-on:change="importSetting()"/>
      <div><button class="exportimportbutton" v-on:click="exportSetting">export</button><button class="exportimportbutton" v-on:click="$refs.file.click()">import</button><button class="exportimportbutton" v-on:click="turnshowOption">options</button></div>
      <div v-if="showOption" class="showChartArea">
      <div>
        <button v-on:click="removeAllResult">remove all result</button>
        <button v-on:click="downloadPerfData" v-if="allPerfData.length > 0">download all Perf. data</button>
        <button v-on:click="getHeaders">get headers</button>
      </div>
        <details v-if="headersResult" class="headersresultarea" open>
          <summary class="headerstitle">Headers</summary>
          <div class="serchkeywordinputarea">key search: <input class="serchkeywordinput" v-model="headersKey" placeholder="keyword"/></div>
          <div class="callresultdetail"><pre class="prefield">{{JSON.stringify(search(headersKey,headersResult),null,"\t")}}</pre></div>
        </details>
      </div>
    </div>
    <!-- Send Request button and params -->
    <div class="startbuttonarea">
      <span v-if="statusMessage" class="resultcolor">{{statusMessage}}</span>
      <button v-if="processing" class="startbutton"><div class="loader"></div></button>
      <button v-if="!processing" class="startbutton" v-on:click="startChoi">Start Request</button>
      <div class="paramtitle">number of times <input class="paramfield" type="number" v-model="param.num" placeholder="the number of times"/></div>
      <div class="paramtitle">interval (ms)   <input class="paramfield" type="number" v-model="param.interval" placeholder="ex) 100"/></div>
      <div class="showChartArea">
        <button v-on:click="showLatency">{{showLatencyFlag? "▲ hide Perf. graph":"▼ show Perf. graph" }}</button>
        <div v-if="showLatencyFlag">
          show total latency<input name="showTotal" type="checkbox" v-model="showTotal" v-on:change="showChart()"/>
        </div>
      </div>
    </div>
    <div v-if="showLatencyFlag">
      <div class="chartarea"><line-chart :chart-data="datacollection" :options="chartOptions"/></div>
    </div>
    <div v-if="errorMessage" class="error">{{errorMessage}}</div>
    <!-- Http request relay settings -->
    <div class="relay" v-for="(relay,index) in relays">
      <div class="relayborder">
        <div class="relaytitle">
          <p class="idtitle"># SERVER {{index+1}}</p>
          <span class="deletebuttonarea"><button class="deletebutton" v-on:click="deleteRelay(relay.id)">x</button></span>
        </div>
        <table class="relaysetting">
          <tr><td class="urltitle">choi uri</td><td colspan=5><input class="urlinput" v-model="relay.url" placeholder="ex) http://host:port/path"/>&nbsp;<button v-on:click="setHeaders(index)">set Headers</button></td></tr>
          <tr v-if="relay.setheaders"><td>headers</td><td colspan=5><textarea class="urlinput" rows="3" v-model="relay.headers" placeholder='ex) {"choi-get-headers":"true"} *use double-quotation'></textarea></td></tr>
          <tr>
            <td>options</td>
            <td v-if="!relay.timeout">delay:<input class="numberinput" v-model="relay.delay" placeholder="ex) 200"/>(ms),</td>
            <td v-if="!relay.timeout">error:<input name="error" type="checkbox" v-model="relay.error"/><span v-if="!relay.error">,</span></td>
            <td v-if="relay.error">code:<input class="numberinput" name="errorcode" type="number" v-model="relay.code"/></td>
            <td v-if="!relay.error">timeout:<input name="timeout" type="checkbox" v-model="relay.timeout"/></td>
            <td><button class="addlogbutton"  v-on:click="addLogfield(relay.id)">+ Log</button></td>
          </tr>
          <tr v-for="i of relay.lognums" :key="i">
            <td>&nbsp;</td>
            <td colspan="5" class="logborder">
              <select v-model="relay.loglevels[i-1]">
                <option v-for="level in loglevels" v-bind:value="level.value">
                  {{ level.text }}
                </option>
              </select>
              <input class="urlinput" v-model="relay.logdetails[i-1]" placeholder="something to log"/>
            </td>
          </tr>
          <tr>
            <td>
              <div><button class="addcallbutton" v-on:click="addCallfield(relay.id)">+ call API</button></div> 
            </td>
          </tr>
        </table>
        <table class="relaysetting">
          <tr>
            <td>
              <table class="callapiborder" v-for="i of relay.apicalls" :key="i">
                <tr>
                  <td>Method</td><td colspan=3>
                    <select v-model="relay.apicallmethod[i-1]">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>API url</td><td colspan=3><input class="urlinput" v-model="relay.apicallurls[i-1]" placeholder="ex) http://169.254.169.254/metadata/instance?api-version=2021-01-01"/></td>
                </tr>
                <tr>
                  <td>headers<br>(JSON)</td><td colspan=3><textarea class="urlinput" rows="3" v-model="relay.apicallheaders[i-1]" placeholder='ex) {"Metadata":"True"} *use double-quotation'></textarea></td>
                </tr>
                <tr v-if="relay.apicallmethod[i-1] === 'POST'">
                  <td>body<br>(Text)</td><td colspan=3><textarea class="urlinput" rows="3" v-model="relay.apicallbody[i-1]" placeholder='ex) key=value'></textarea></td>
                </tr>
                <tr>
                  <td class="callresult" v-if="!relay.apicallresults[i-1]" colspan=5>-----</td>
                  <td calss="callresult" v-if="relay.apicallresults[i-1]" colspan=5>
                    <details class="callresultarea">
                      <summary class="resultcolor">code:{{relay.apicallstatuses[i-1]}}, elapsed time:{{relay.apicalltimes[i-1]}}(ms)</summary>
                      <div class="serchkeywordinputarea">key search: <input class="serchkeywordinput" v-model="relay.apiserchkeywords[i-1]" placeholder="keyword"/></div>
                      <div class="callresultdetail"><pre class="prefield">{{JSON.stringify(search(relay.apiserchkeywords[i-1],relay.apicallresults[i-1]),null,"\t")}}</pre></div>
                    </details>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="relaysetting">
          <tr>
            <td>
              <div v-if="relay.processenv" class="processenvarea">
                <details class="callresultarea">
                  <summary class="resultcolor">process.env of this server</summary>
                  <div class="serchkeywordinputarea">key search: <input class="serchkeywordinput" v-model="relay.processsearchkeyword" placeholder="keyword"/></div>
                  <div class="callresultdetail"><pre class="prefield">{{JSON.stringify(search(relay.processsearchkeyword,relay.processenv),null,"\t")}}</pre></div>
                </details>
              </div>
            </td>
          </tr>
        </table>
        <div v-if="!relay.resultcode" class="result">-----</div>
        <div v-if="relay.resultcode" class="result resultcolor">code:{{relay.resultcode}}, elapesd time:{{relay.resulttime}}(ms)</div>
      </div>
      <div class="arrow"></div>
    </div>
    <!-- Add http request setting -->
    <button class="addbutton" v-on:click="addRelay">+ Add</button>
  </div>
</body>

<script>
  Vue.component('line-chart', {
    extends: VueChartJs.Line,
    mixins: [VueChartJs.mixins.reactiveProp],
    props: ['options'],
    mounted () {
      this.renderChart(this.chartData, this.options)
    }
  })
  var app = new Vue({
    el: '#app',
    data: {
      id: 3, //initial settings use 1,2
      options:[{text:"GET",value:"GET"},{text:"POST",value:"POST"}],
      loglevels:[{text:"FATAL",value:"FATAL"},{text:"ERROR",value:"ERROR"},{text:"WARN",value:"WARN"},{text:"INFO",value:"INFO"},{text:"DEBUG",value:"DEBUG"},{text:"TRACE",value:"TRACE"}],
      relays:[
        {id: 1, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", setheaders:false, headers:'{"Content-Type":"application/json"}', apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltimes:[], apicallresults:[], lognums:0, loglevels:[], logdetails:[], processenv:"", apiserchkeywords:[], processenvsearchkeyword:""},
        {id: 2, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", setheaders:false, headers:'{"Content-Type":"application/json"}', apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltimes:[], apicallresults:[], lognums:0, loglevels:[], logdetails:[], processenv:"", apiserchkeywords:[], processenvsearchkeyword:""},
      ],
      param:{num:1,interval:1000},
      statusMessage:"",
      errorMessage:"",
      processing:false, // to show loading
      showLatencyFlag:false,
      showOption:false,
      headersResult:"",
      headersKey:"",
      allPerfData:[],
      perf_total_chart_data:[],
      perf_steps_chart_data:{},
      perf_steps_apis_chart_data:{},
      showTotal:true,
      datacollection:null,
      chartOptions:{
        responsive: true,
        maintainAspectRatio: false,
        scales:{
          yAxes:[{
            ticks:{
              min:0,
              beginAtZero:true
            }
          }]
        },
        legend: {
          labels: {
            filter: (item, chart) => {
              const label = item.text
              if (!label) {
                return false;
              }
              return true;
            },
          },
        },
      },
      chartColorTotal:'#999999',
      chartColorSteps:['#CC9999','#9999CC','#99CC99','#CCCC99','#99CCCC','#CC99CC','#FFCCCC','#CCCCFF','#CCFFCC','#FFFFCC'],
      chartColorApis:['#CC9999','#9999CC','#99CC99','#CCCC99','#99CCCC','#CC99CC','#FFCCCC','#CCCCFF','#CCFFCC','#FFFFCC']
    },
    mounted () {
      this.showChart()
    },
    methods:{
      // Add relay setting
      addRelay: function(){
        this.relays.push({id: this.id, url: "", delay: "", error: false, code: 500, timeout: false, resultcode:"",resulttime:"", setheaders:false, headers:'{"Content-Type":"application/json"}', apicalls:0, apicallmethod:[], apicallurls:[], apicallheaders:[], apicallbody:[], apicalltimes:[], apicallresults:[], lognums:0, loglevels:[], logdetails:[], processenv:"", apiserchkeywords:[], processenvsearchkeyword:""})
        this.id++;
      },
      // Send request
      startChoi: function(){

        //validation
        var urlEmpties = this.relays.filter(relay=> relay.url == "")
        if(urlEmpties.length > 0){
          this.errorMessage = "Enter URI"
          return
        }

        //initialize
        this.processing=true;
        let count=0;
        let loadedCount=0;
        this.statusMessage = "";
        this.errorMessage = "";
        let interval = this.param.interval
        if(this.param.num === 1){
          interval = 0
        }
        this.allPerfData = []
        //initialize for chart
        this.perf_total_chart_data=[]
        this.perf_steps_chart_data={}
        this.perf_steps_apis_chart_data={}
        for(let i in this.relays){
          this.perf_steps_chart_data[i]= []
          this.perf_steps_apis_chart_data[i] = {}
          for(let j=0;j<this.relays[i].apicalls;j++){
            this.perf_steps_apis_chart_data[i][j] = []
          }
        }

        //refresh chart
        this.showChart()

        //post request with interval
        const intervalId = setInterval(function(){
          this.relays.filter((relay)=>{
            relay.resultcode = "";
            relay.resulttime = "";
            relay.apicallresults = [];
            relay.apicallstatuses= [];
            relay.apicalltimes= [];
            relay.processenv = "";
          })
          let totalTime = 0
          let startTime = Date.now()
          let first = this.relays[0]
          //init one perf data
          let oneResult = {}

          let jsonheader = first.headers? JSON.parse(first.headers) : {}

          fetch(first.url,{
            method:'POST',
            headers:jsonheader,
            body:JSON.stringify(this.relays)
          })
          .then(response => response.json())
          .then(data=>{
            totalTime = Date.now()-startTime
            this.statusMessage = "Total time: "+totalTime+"(ms) Succuess "+count+"/"+ this.param.num

            //set result to allPerfData
            oneResult["totalTime"]= totalTime
            let stepResults = []
            
            //set total to chartdata
            this.perf_total_chart_data.push(totalTime)

            // Show the result for each STEP
            for(let i in data){
              let result = data[i]

              //set all perf data
              let stepResult = {}
              stepResult["stepUrl"]  = result.url
              stepResult["stepTime"] = result.elapsed

              for(let j in this.relays){
                if(result.id === this.relays[j].id){
                  this.relays[j].resultcode = result.code
                  this.relays[j].resulttime = result.elapsed
                  this.relays[j].apicallresults = result.callresults
                  this.relays[j].apicallstatuses= result.callstatuses
                  this.relays[j].apicalltimes= result.calltimes
                  this.relays[j].processenv = result.processenv

                  //set all perf data
                  stepResult["apiCalls"] = result.calltimes
                  stepResult["apiCallUrls"] = this.relays[j].apicallurls

                  //set chartdata
                  this.perf_steps_chart_data[j].push(result.elapsed)
                  let api_trunaround = 0
                  if(i<data.length-1) {
                    api_trunaround = data[Number(i)+1].elapsed
                  }

                  for(let k=0;k<this.relays[j].apicalls;k++){
                    api_trunaround += result.calltimes[k]
                    this.perf_steps_apis_chart_data[j][k].push(api_trunaround)
                  }

                  if(result.error){
                    var next = Number(j)+1;
                    this.relays[next].result = result.error
                    this.errorMessage = "STEP ERROR"
                    console.log(result.error)
                  }
                  break
                }
              }

              stepResults.push(stepResult)
            }

            this.showChart()
            loadedCount++;
            oneResult["stepResults"]=stepResults
            this.allPerfData.push(oneResult)
            if(loadedCount === Number(this.param.num)){
              this.processing = false;
            }
          })
          .catch((error)=>{
            this.errorMessage = error
            this.processing=false;
          });

          count++;
          if(count >= this.param.num){
            clearInterval(intervalId)
          }
        }.bind(this),interval)
      },
      // Delete a relay setting
      deleteRelay: function(deleteid){
        this.relays = this.relays.filter(relay=> relay.id != deleteid)
      },
      addCallfield:function(parentId){
        for(let i in this.relays){
          if(parentId===this.relays[i].id){
            this.relays[i].apicalls += 1;
            this.relays[i].apicallmethod.push("GET")
            break;
          }
        }
      },
      addLogfield:function(parentId){
        for(let i in this.relays){
          if(parentId===this.relays[i].id){
            this.relays[i].lognums += 1;
            this.relays[i].loglevels.push("INFO")
            break;
          }
        }
      },
      exportSetting:function(){
        let blob = new Blob([JSON.stringify(this.relays)],{type:'application/json'})
        let link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = 'choi.json'
        link.click()
      },
      downloadPerfData:function(){
        let blob = new Blob([JSON.stringify(this.allPerfData)],{type:'application/json'})
        let link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        link.download = 'choi_perf_all.json'
        link.click()
      },
      importSetting:function(){
        const file = this.$refs.file.files[0]
        if(file){
          const reader = new FileReader();
          reader.onload = e =>{
            this.relays = JSON.parse(e.target.result)
            importId = 2;
            this.relays.forEach(relay=>{
              if(importId < Number(relay.id)){
                importId = Number(relay.id)
              }
            })
            this.id = importId+1
            this.statusMessage = "Setting imported"
            this.errorMessage = ""
            this.allPerfData = []
            this.perf_total_chart_data = []
            this.perf_steps_chart_data= {}
            this.perf_steps_apis_chart_data={}
            this.showChart()
          }
          reader.readAsText(file)
        }
      },
      search:function(keyword, json){
        if(!keyword) return json

        returnJsonText = {}
        const keyList = Object.keys(json)
        const valueList = Object.values(json)

        keyList.forEach((key,index)=>{
          if(key.match(keyword)){
            returnJsonText[key] = valueList[index]
          }
        })

        return returnJsonText
      },
      turnshowOption:function(){
        this.showOption = !this.showOption
      },
      removeAllResult:function(){
        this.allPerfData = []
        this.perf_total_chart_data = []
        this.perf_steps_chart_data = {}
        this.perf_steps_apis_chart_data = {}
        this.statusMessage = ""
        this.errorMessage = ""
        this.relays.map(relay=>{
          relay.resultcode=""
          relay.resulttime=""
          relay.apicalltimes=[]
          relay.apicallresults=[]
          relay.processenv=""
        })
        this.showChart()

      },
      showLatency:function(){
        this.showChart()
        this.showLatencyFlag = !this.showLatencyFlag
      },
      showChart: function(){

        let datasets = []
        let times = this.perf_total_chart_data.length??0
        if(times === 0){
          this.datacollection = {
          labels: Array(Number(this.param.num)).fill(0).map((_, i) => i + 1),
          datasets: datasets
          }
          return
        }

        //for each step
        Object.keys(this.perf_steps_chart_data).forEach(stepindex=>{
          //for each api calls
          Object.keys(this.perf_steps_apis_chart_data[stepindex]).forEach(apiindex=>{
            datasets.unshift({
              label: '',
              backgroundColor: this.chartColorSteps[stepindex]+'10',
              borderColor: this.chartColorSteps[stepindex],
              borderDash: [5,5],
              borderWidth: 1,
              lineTension: 0.1,
              fill:false,
              data: this.perf_steps_apis_chart_data[stepindex][apiindex]
            })
          })

          datasets.unshift({
            label: 'SERVER'+(Number(stepindex)+1),
            backgroundColor: this.chartColorSteps[stepindex]+'10',
            borderColor: this.chartColorSteps[stepindex],
            borderWidth: 2,
            lineTension: 0.1,
            fill:true,
            data: this.perf_steps_chart_data[stepindex]
          })

        })

        //TOTAL
        if(this.showTotal){
          datasets.push({
            label: 'BROWSER',
            backgroundColor: this.chartColorTotal+'10',
            borderColor: this.chartColorTotal,
            borderWidth: 5,
            lineTension: 0.1,
            fill:false,
            data: this.perf_total_chart_data
          })
        }

        this.datacollection = {
          labels: Array(Number(this.param.num)).fill(0).map((_, i) => i + 1),
          datasets: datasets
        }
      },
      setHeaders:function(index){
        this.relays[index].setheaders = true
      },
      getHeaders:function(){
        fetch("/choi/headers",{
            method:'GET',
            headers:{
              'choi-get-headers':'true',
              'Content-Type':'application/json',
            }
          })
          .then(response => response.json())
          .then(data=>{
            this.headersResult = data
          })
          .catch((error)=>{
            this.headersResult = error
          });
      }
    }
  });
</script>
</html>
